@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

// 3. Set the derived variables
// Use the new pink as the primary color
//$primary: $white-ter;
//$primary-invert: findColorInvert($primary);

// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";

.button .icon:first-child:last-child {
  margin-right: 3px;
}

.content h6 {
  margin-bottom: 0.5rem;
}

.no-padding {
  padding: 0;
}
